* {
    box-sizing: border-box;
  }
  
  body {
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
    /* margin: 100px auto auto auto; */
    padding: 80px;
  }

/* download pdf */
  .download-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .download-btn i {
    margin-right: 5px;
  }

  /* footer section  */
  footer {
    color: #fff;
    padding: 50px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-links li {
    margin: 0 20px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #007bff;
  }
  
  .footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-social li {
    margin: 0 10px;
  }
  
  .footer-social a {
    color: #fff;
    text-decoration: none;
  }
  .footer-social a:hover {
    color: #b3bcc6;
  }
  